body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white; 
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
}



header {
    background: #1f799c;
    padding: 20px;
}

main {
    background: #3b4d72;
    text-align: center;
    padding: 100px 20px 100px 40px;
}

footer {
    padding: 20px;
    background: #341764;
}