body {
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #bebebe;
}

#list {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    text-align: center;
}

li {
    background: rgb(238, 234, 234);
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 25px;
    font-size: smaller;
    display: inline-block;
}

ul {
    text-align: center;
}

.fa-regular {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
