body {
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #bebebe;
}

#list {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
li
{
    background: red;
    width: 400px;

}
.fa-regular {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#list {
    text-align: center;
}