body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
header {
    background-image: url(./Materialordner/clouds-g4c35ea8a4_640.jpg);
    background-repeat: no-repeat;
    height: 400px;
    top: 0;
    background-size: cover;
    width: 100%;
}
footer {
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    text-align: center;
    font-size: smaller;
    position: fixed;
}
h1 {
    color: #fff;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: grey;
}
.Hauptseite {
    color: white;
    text-decoration: underline;
}
.Breite {
    transform: translateX(-50%);
    width: 800px;
    left: 50%;
    position: relative;
}
#name {
    background-color: grey;
    color: white;
    border: none;
;
}
#email {
    background-color: gray;
    color: white;
    border: none;
}
#message {
    background-color: gray;
    color: white;
}
#send {
    background-color: grey;
    color: white;
    border: none;
}
input::placeholder {
    color: white;
}
textarea::placeholder {
    color: white;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.logo {
    float: left;
    width: 250px;
    position: relative;
    transform: translate8(-50%);
}
.navigation {
    float: right;
    padding: 120px;
}
.grau {
    background-color: #eaeaea;
}

.css-slides {
    height: 400px;
    width: 300px;
}

@keyframes fade {
    0% {opacity: 0;}
    11.11% {opacity: 1;}
    33.33% {opacity: 1;}
    44.44% {opacity: 0;}
    100% {opacity: 0;}
}

.css-slides img {
    opacity: 0;
    animation-name: fade;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    right: 0;
    height: 400px;
    width: 100%;
}

.css-slides img:nth-child(1) {animation-delay: 0;}
.css-slides img:nth-child(2) {animation-delay: 2s;}
.css-slides img:nth-child(3) {animation-delay: 8s;}

.card img {
    opacity: .5;
    transform: translate(0,0);
    transition: opacity .25s ease-in-out;
}

.card img:hover {
    opacity: 1;
}

.zoomeffekt {
    transition: transform 0,8s;
    width: 900px;
}

.zoomeffekt:hover {
-ms-transform: scale(1.05);
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

.zoomeffekt:focus {
-ms-transform: scale(1.05);
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

.banner {
    position: fixed;
    top: 0%;
    right: 0%;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}