body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
header {
    background-image: url(./assets/foto/flowers-7085710_960_720.jpg);
    background-repeat: no-repeat; repeat;
    height: 400px;
    top: 0;
    background-size: cover;
}
footer {
    background-color: #eaeaea;
    color: gray;
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    text-align: center;
    font-size: smaller;
    position: fixed;
}
h1 {
    color: #fff;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: grey;
}
.Hauptseite {
    color: white;
    text-decoration: underline;
}
.Breite {
    transform: translateX(-50%);
    width: 800px;
    left: 50%;
    position: relative;
}
#name {
    background-color: grey;
    color: white;
}
#email {
    background-color: gray;
    color: white;
}
#message {
    background-color: gray;
    color: white;
}
#send {
    background-color: grey;
    color: white;
}
input::placeholder {
    color: white;
}
textarea::placeholder {
    color: white;
}
